<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.communitywebsite.dao.ActivitySupportMapper">
    <select id="countByAid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(aid) FROM  t_support_activity WHERE aid =#{aid}
    </select>
    <select id="selectByAidAndUid" parameterType="com.example.communitywebsite.bean.ActivitySupport" resultType="java.lang.Integer">
        SELECT  count(aid) FROM  t_support_activity WHERE  aid=#{aid} AND  uid=#{uid}
    </select>
    <delete id="deleteByAidAndUid" parameterType="com.example.communitywebsite.bean.ActivitySupport" >
        DELETE FROM  t_support_activity WHERE aid=#{aid} AND uid=#{uid}
    </delete>
    <insert id="insert" parameterType="com.example.communitywebsite.bean.ActivitySupport">
        INSERT  INTO  t_support_activity (aid,uid) VALUES (#{aid},#{uid});
    </insert>
</mapper>
