<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.communitywebsite.dao.ApplyResultMapper">

    <select id="slectByApplyid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(applyid) FROM  t_apply_result WHERE  applyid = #{applyid}
    </select>
    <insert id="insertByApplyResult" parameterType="com.example.communitywebsite.bean.ApplyResult">
        INSERT  INTO  t_apply_result (applyid) VALUES (#{applyid})
    </insert>
</mapper>