<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.communitywebsite.dao.CommunityUserMapper">
    <select id="getCommunityByName" parameterType="String" resultMap="ResultMap">
        SELECT t_community_users.*,t_community_home.*,t_community_home.communityname
        FROM t_community_users
        LEFT JOIN t_community_home
        ON t_community_users.cid = t_community_home.id
        WHERE t_community_users.uid =(SELECT uid FROM t_ordinary_user where username = #{username})
    </select>
    <resultMap id="ResultMap" type="com.example.communitywebsite.bean.CommunityUser">
        <id column="id" property="id"/>
        <result column="cid" property="cid"/>
        <result column="uid" property="uid"/>
        <association property="community" javaType="com.example.communitywebsite.bean.CommunityHome">
            <id column="pId" property="pid"/>
            <result column="communityname" property="communityname"/>
            <result column="createname" property="createname"/>
            <result column="communityurl" property="communityurl"/>
            <result column="createdate" property="createdate"/>
            <result column="logo" property="logo"/>
            <result column="classification" property="classification"/>
            <result column="modula" property="modula"/>
            <result column="template" property="template"/>
        </association>
    </resultMap>
    <select id="selectByCidUid" parameterType="com.example.communitywebsite.bean.CommunityUser" resultType="java.lang.Integer">
        SELECT count(id) FROM t_community_users
        WHERE t_community_users.cid = #{cid} AND t_community_users.uid =#{uid}
    </select>
    <insert id="insert" parameterType="com.example.communitywebsite.bean.CommunityUser" >
         INSERT INTO t_community_users (cid,uid) VALUES (#{cid},#{uid})
    </insert>
    <select id="getAllByCid" parameterType="java.lang.Integer" resultMap="UserResultMap">
        SELECT t_community_users.* ,t_ordinary_user.* FROM t_community_users
        LEFT JOIN  t_ordinary_user
        ON t_ordinary_user.uid = t_community_users.uid
        WHERE t_community_users.cid =1
    </select>
    <resultMap id="UserResultMap" type="com.example.communitywebsite.bean.CommunityUser">
        <id column="id" property="id"/>
        <result column="cid" property="cid"/>
        <result column="uid" property="uid"/>
        <association property="ordinaryUser" javaType="com.example.communitywebsite.bean.OrdinaryUser">
            <id column="uid" property="uid"/>
            <result column="username" property="username"/>
            <result column="email" property="email"/>
            <result column="phone" property="phone"/>
            <result column="CommunityId" property="CommunityId"/>
            <result column="CommunityDuties" property="CommunityDuties"/>
            <result column="HeadImage" property="HeadImage"/>
            <result column="sex" property="sex"/>
            <result column="createDate" property="createDate"/>
            <result column="Jurisdiction" property="Jurisdiction"/>
        </association>
    </resultMap>
</mapper>