<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.communitywebsite.dao.OrdinaryUserMapper">
    <select id="getAll" resultType="com.example.communitywebsite.bean.OrdinaryUser">
        SELECT * FROM t_ordinary_user;
    </select>
    <select id="getByUsername" parameterType="String" resultType="String">
        SELECT  password from  t_ordinary_user WHERE  username = #{username}
    </select>
    <select id="getByName" parameterType="String" resultType="com.example.communitywebsite.bean.OrdinaryUser">
        SELECT * from  t_ordinary_user WHERE  username = #{username}
    </select>
    <insert id="addUser" parameterType="com.example.communitywebsite.bean.OrdinaryUser" >
        INSERT  INTO t_ordinary_user
        (username,password,email,phone,CommunityId,CommunityDuties,HeadImage,sex,createDate,Jurisdiction) VALUES
        (#{username},#{password},#{email},#{phone} ,#{CommunityId},#{CommunityDuties},#{HeadImage},#{sex},#{createDate},#{Jurisdiction})
    </insert>
    <update id="updatePassword" parameterType="com.example.communitywebsite.bean.OrdinaryUser" >
        UPDATE  t_ordinary_user SET  password=#{password} WHERE  username =#{username}
    </update>
    <update id="updateUserByName" parameterType="com.example.communitywebsite.bean.OrdinaryUser" >
        UPDATE  t_ordinary_user
        <set>
            <if test="password!=null">
                password = #{password},
            </if>
            <if test="email!=null">
                email = #{email},
            </if>
            <if test="phone!=null">
                phone = #{phone},
            </if>
            <if test="CommunityId!=null">
                CommunityId = #{CommunityId},
            </if>
            <if test="CommunityDuties!=null">
                CommunityDuties = #{CommunityDuties},
            </if>
            <if test="HeadImage!=null">
                HeadImage = #{HeadImage},
            </if>
            <if test="sex!=null">
                sex= #{sex},
            </if>
            <if test="createDate!=null">
                createDate= #{createDate},
            </if>
            <if test="Jurisdiction!=null">
                Jurisdiction= #{Jurisdiction},
            </if>
        </set>
        where username =#{username}
    </update>
    <update id="updateHeadImageByName" parameterType="com.example.communitywebsite.bean.OrdinaryUser">
        UPDATE  t_ordinary_user SET  HeadImage=#{HeadImage} WHERE  username =#{username}
    </update>
    <select id="getAllByCid" parameterType="java.lang.Integer" resultType="com.example.communitywebsite.bean.OrdinaryUser">
        SELECT * FROM t_ordinary_user WHERE t_ordinary_user.CommunityId = #{CommunityId}
        ORDER BY t_ordinary_user.Jurisdiction ASC
    </select>
    <select id="countByCid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(t_ordinary_user.CommunityId) FROM t_ordinary_user
        WHERE t_ordinary_user.CommunityId = #{CommunityId}
    </select>
    <select id="getCreateUserByCid" parameterType="java.lang.Integer" resultType="com.example.communitywebsite.bean.OrdinaryUser">
        SELECT * FROM t_ordinary_user
         WHERE t_ordinary_user.CommunityId = #{CommunityId}  AND t_ordinary_user.Jurisdiction = 1;
    </select>
    <update id="updatePowerByName" parameterType="String" >
        UPDATE t_ordinary_user SET t_ordinary_user.CommunityId = 1 ,
        t_ordinary_user.CommunityDuties = '创始人' ,t_ordinary_user.Jurisdiction = 1
        WHERE username = #{username}
    </update>
</mapper>